<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>formulario de gastos</h2>
        <form action="cadastro">
            <label for="valor">Valor</label>
            <input type="number" id="valo0" name="valor" required>

            <label for="descricao">descriçâo</label>
            <input type="text" id="descricao" name="descricao" required>

            <label for="data">data</label>
            <input type="date" id="data" name="data" required>

            <button type="submit">enviar</button>
        </form>
    </div>
    
</body>
</html>